<%-include("header.ejs")%>
<link rel="stylesheet" href="/style/layout.css">
<link rel="stylesheet" href="/style/content.css">
<body>
        <h1>😊 Welcome On MyBlog 😊 </h1>
        <button type="button" class="btn btn-create btn-primary"><a href="/writeBlog">Create New Blog</a></button>
</body>
<%-include("footer.ejs")%>